# OS
# ===========
.DS_Store
ehthumbs.db
Icon?
Thumbs.db

# Node and related ecosystem
# ==========================
.nodemonignore
node_modules
.bower-*/
bower_components
coverage

# General
# =======
*.log
dist
typings

# Editors
# =======
.idea
.vscode
