<div>
    <table class="table table-condensed table-borderless" style="border:0px;">
        <tr>
            <th class="col-md-1">Service</th>
            <th class="col-md-11">Timeline</th>
        </tr>
        <tr>
            <td></td>
            <td>
                <div class="span">
                    <div class="timeline timeline1"></div>
                    <div class="timeline timeline2"></div>
                    <div class="timeline timeline3"></div>
                    <div class="timeline timeline4"></div>
                    <div class="timeline timeline5"></div>
                    <div class="timeline timeline6"></div>
                </div>
            </td>
        </tr>
        <tr *ngFor="let span of trace">
            <td>{{formatServiceName(span)}}</td>
            <td>


                <div class="span">

                    <div [style.left]="getCs1(span)+'%'" [style.width]="getCs2(span)+'%'" class="waiting-left"></div>
                    <div [style.left]="getSr(span)+'%'" [style.width]="getSs(span)+'%'" class="server">{{formatSpanInfo(span)}}</div>
                    <div [style.left]="getCr1(span)+'%'" [style.width]="getCr2(span)+'%'" class="waiting-right"></div>
                    <div class="timeline timeline1"></div>
                    <div class="timeline timeline2"></div>
                    <div class="timeline timeline3"></div>
                    <div class="timeline timeline4"></div>
                    <div class="timeline timeline5"></div>
                    <div class="timeline timeline6"></div>
                </div>
            </td>
        </tr>
    </table>
</div>
