.btn-expander {
    width: 30px;
}
.span {
    width:100%;
    position: relative;
    height:15px;
}

.waiting-left, .waiting-right {
    height:17px;
    background-color:#ededed;
    position: absolute;
}

.waiting-left {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    /*border-left: 1px solid lightgray;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;*/
}
.waiting-right {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    /*border-right: 1px solid lightgray;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;*/
}

.server {
    height:17px;
    padding-left: 10px;
    background-color:#caebff;
    position: absolute;
    overflow: visible;
    white-space: nowrap;
    border: 1px solid lightblue;
}

tr:hover .waiting-left, tr:hover .waiting-right {
    background-color: #e8e8e8;
}

tr:hover .server {
    background-color:#b6e0f9;
}

.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
    border: none;
    padding-top: 2px;
    padding-bottom: 2px;
     font-size: smaller;
}

.timeline {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    height: 20px;
    width: 20%;
    position: absolute;
    padding-left:5px;
}

.timeline1 {
    left: 0%;
}
.timeline2 {
    left: 20%;
}
.timeline3 {
    left: 40%;
}
.timeline4 {
    left: 60%;
}
.timeline5 {
    left: 80%;
}
.timeline6 {
    left: 100%;
}

.annotation {
    border: 1px solid #000;
    border-radius: 6px;
    background-color: #fff;
    height: 17px;
    width: 17px;
    position: absolute;
}

.color-identifier {
    width:15px;
    height:24px;
    display:inline-block;
    margin-left:5px;
    margin-right:5px;
    border:1px solid #000;
    border-radius: 3px;
    opacity: 0.5;
}

.container {
    width: 90%;
}
