
.span {
    width:100%;
    position: relative;
    height:15px;
}

.waiting-left, .waiting-right {
    height:17px;
    background-color:#33E67D;
    position: absolute;
}

.waiting-left {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.waiting-right {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.server {
    height:17px;
    padding-left: 10px;
    background-color:#54C8FC;
    position: absolute;
    overflow: visible;
}

.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
    border: none;
    padding-top: 2px;
    padding-bottom: 2px;
     font-size: smaller;
}

.timeline {
    border-left: 1px solid #000;
    height: 20px;
    width: 1px;
    position: absolute;
    opacity: 0.1;
}

.timeline1 {
    left: 0%;
}
.timeline2 {
    left: 20%;
}
.timeline3 {
    left: 40%;
}
.timeline4 {
    left: 60%;
}
.timeline5 {
    left: 80%;
}
.timeline6 {
    left: 100%;
}
