.btn-expander {
    width: 28px;
}
.span {
    width:100%;
    position: relative;
    height:15px;
}

.waiting-left, .waiting-right {
    background-color:#f0f0f0;
    position: absolute;
    cursor: pointer;
    overflow: hidden;
    border: 1px solid #f0f0f0;
}

.waiting-left {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;

}
.waiting-right {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    /*border-right: 1px solid lightgray;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;*/
}

.server {
    padding-left: 10px;
    background-color:#caebff;
    position: absolute;
    overflow: visible;
    white-space: nowrap;
    border: 1px solid #caebff;
    cursor: pointer;
}

tr:hover .waiting-left, tr:hover .waiting-right {
    background-color: #e0e0e0;
    border: 1px solid #e0e0e0;
}

tr:hover .server {
    background-color:#b6e0f9;
}

tr:hover .waiting-left:hover, tr:hover .waiting-right:hover {
    border: 1px solid #909090;
}

tr:hover .server {
    background-color:#b6e0f9;
    border: 1px solid #b6e0f9;
}

tr:hover .server:hover {
    background-color:#b6e0f9;
    border: 1px solid dodgerblue;
}

.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
    border: none;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 14px !important;
    line-height: 20px;
}

.timeline {
    border-left: 1px solid #e0e0e0;
    height: 30px;
    width: 20%;
    position: absolute;
    padding-left:5px;
    font-size: 14px !important;
}

.timeline1 {
    left: 0%;
}
.timeline2 {
    left: 20%;
}
.timeline3 {
    left: 40%;
}
.timeline4 {
    left: 60%;
}
.timeline5 {
    left: 80%;
}
.timeline6 {
    left: 100%;
}

.annotation {
    border: 1px solid #000;
    border-radius: 6px;
    background-color: #fff;
    height: 17px;
    width: 17px;
    position: absolute;
}

.color-identifier {
    width:28px;
    height:25px;
    display:inline-block;
    margin-left:5px;
    margin-right:15px;
    border-radius: 3px;
    opacity: 0.5;
    border: 1px solid white;
    vertical-align: middle;
}

.navbar {
    border-radius: 0px;
}

.container-fluid {
    width: 90%;
}

.popover{
    max-width: 100%; /* Max Width of the popover (depending on the container!) */
}

.searchbox {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #f5f5f5;
    border-radius: 0.3rem;
}


.bd-callout {
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #eee;
  border-left-width: .25rem;
  border-radius: .25rem;
}

.bd-callout h4 {
  margin-top: 0;
  margin-bottom: .25rem;
}

.bd-callout p:last-child {
  margin-bottom: 0;
}

.bd-callout code {
  border-radius: .25rem;
}

.bd-callout + .bd-callout {
  margin-top: -.25rem;
}

.bd-callout-info {
  border-left-color: #5bc0de;
}

.bd-callout-info h4 {
  color: #5bc0de;
}

.bd-callout-warning {
  border-left-color: #f0ad4e;
}

.bd-callout-warning h4 {
  color: #f0ad4e;
}

.bd-callout-danger {
  border-left-color: #d9534f;
}

.bd-callout-danger h4 {
  color: #d9534f;
}

.service-name-header {
    padding-right:0;
}

.service-name {
    padding-right:0;
}

.span-line {
    padding-left:2px !important;
}

.btn-service-expander-empty {
    display: inline-block;
     padding: 0px;
    line-height: 9px;
    width: 14px;
    font-size: 10px;
}
